.header {
    height: 7.2rem;
    border: 1px solid lightgray;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.nav-bar {
    height: 4rem;
    border-bottom: 1px solid lightgray;
}